settings:
  salesforce:
    username: ${SF_USERNAME}
    password: ${SF_PASSWORD}
    security_token: ${SF_SECURITY_TOKEN}
    domain: ${SF_DOMAIN}
    client_id: ${SF_CLIENT_ID}
    client_secret: ${SF_CLIENT_SECRET}
    instance_url: ${SF_INSTANCE_URL}

server:
  host: ${HOST}
  port: ${PORT}
  debug: ${DEBUG}

mcp:
  name: ${MCP_NAME}

